* {
  margin: 0;
  padding: 0;
  font-family: "Lucky rainbow", "Little elite", serif;

}
html {
  height: 100%;
  width: 90%;
}
body {
  height: 100%;
  background-image:url(/img/bg.jpg);
  background-repeat:no-repeat;
  background-size:cover;
}
.container {
  height: 100%;
  padding-left: 29%;
}
.login-wrapper {
  border-radius: 15px;
  padding: 0 50px;
  position: relative;
  top: 40%;
  transform: translate(-50%,-50%);
  height: 70%;  
  width: 208px;
  left: 35%;
}
.header {
  font-weight: bold;
  text-align: center;
  color: #0c8990;
  position: relative;
  font-size: 18px;
  line-height: 60px;
  top: 6%;
  width: 90%;
}
.input-item {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border: 0;
  padding: 10px;
  border-bottom: 1px solid rgb(128,125,125);
  font-size: 15px;
  outline: none;
}
.input-item::placeholder {
  text-transform: uppercase;
}
.msg {
  text-align: center;
  line-height: 30px;
}
a {
  text-decoration-line: none;
  color: #abc1ee;
}
#submit {
  background-color: black;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  margin: 0;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  width: 100%;
  transition: color 100ms;
}
html [type="button"], [type="reset"], [type="submit"]:active {
  background-image: linear-gradient(to right,#fbc2eb, #a6c1ee);

}


@media screen and (min-width: 900px){
  
  .header {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    line-height: 200px;
    color: #0c8990;
    position: relative;
    top: 10%;
  }
  .login-wrapper {
    width: 358px;
    height: 588px;
    border-radius: 15px;
    padding: 0 50px;
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
  }
  .msg {
    text-align: center;
    line-height: 88px;
    margin-bottom: -40px;
  }

}


