* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-image:url(/img/bg.jpg);
  background-repeat:no-repeat;
  background-size:cover;
}
.container {
  height: 100%;
  /* background-image: linear-gradient(to right, #999999, #ffff); */
}
.login-wrapper {
  width: 358px;
  height: 588px;
  border-radius: 15px;
  padding: 0 50px;
  position: relative;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
}
.header {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  line-height: 200px;
  color: #0c8990;
  position: relative;
  top: 10%;
}
.input-item {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border: 0;
  padding: 10px;
  border-bottom: 1px solid rgb(128,125,125);
  font-size: 15px;
  outline: none;
}
.input-item::placeholder {
  text-transform: uppercase;
}
.msg {
  text-align: center;
  line-height: 88px;
  margin-bottom: -40px;
}
a {
  text-decoration-line: none;
  color: #abc1ee;
}
#submit {
  background-color: black;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  margin: 0;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  width: 100%;
  transition: color 100ms;
}
html [type="button"], [type="reset"], [type="submit"]:active {
  background-image: linear-gradient(to right,#fbc2eb, #a6c1ee);

}

@media screen and (max-width: 700px){
  .login-wrapper {
      height: 50%;
      width: 158px;
  }
  .header{
    font-size: 28px;
    line-height: 100px;
    top: 4%;
  }
  .msg {
    line-height: 44px;
  }
}
@media screen and (max-width: 900px){
  
  .login-wrapper {
    height: 70%;  
    width: 208px;
    }
    .header{
      font-size: 28px;
      line-height: 120px;
      top: 6%;
    }
    .msg {
      line-height: 60px;
    }

}


